body{ 
    background-color: rgb(102, 162, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

img{
    right: 25px;
    border-radius: 150px;
    width: 250px;
}

p{
   font-size: 1.2rem;
   text-align: center;
} 

h1{
    text-align: center;
}

img{
    vertical-align: top;
}

#historico{
    font-weight: bold;
}

#formacao_academica{
    font-weight: bold;
}


